  <style shim-shadowdom>
    .icons {
      float: inline-block;
      vertical-align: middle;
    }

    .core-tooltip {
      color: #3C8D2F;
    }


  </style>

{{#click-events "showmore" event }}

  <paper-item style="float:none">
    <div style="float:left; margin-right: 10px">
      <i style="font-size: small;">{{date-name event.start "timestring"}}</i>
      {{#if event.end }}<i style="font-size: small;"><br />{{date-name event.end "timestring"}}</i>
      {{else}}
        {{#if event.end }}<i style="font-size: small;">  {{event.duration}}</i>{{/if}}
      {{/if}}
    </div>

    <core-tooltip label='{{event.location.name}}' position="top" style="z-index: 50; font-color:#3C8D2F; ">
      <div style="float: right">
        <b style="margin-right: 25px">{{event.title}}</b><br />
      </div>
    </core-tooltip>
    <div style="position: absolute; vertical-align: middle; float: right; right: 5px; top:25px; margin: auto;">
        {{#if (ifIs event.type 1)}}
          <core-tooltip label='Task' position="left">
            <core-image  src="/assets/icons/ic_assignment_turned_in_black_24px.svg" class="icons"></core-image>
          </core-tooltip>
        {{/if}}
        {{#if (ifIs event.type 2)}}
          <core-tooltip label='Open End' position="left">
            <core-image  src="/assets/icons/ic_timelapse_black_24px.svg" class="icons"></core-image>
          </core-tooltip>
        {{/if}}
        {{#if (ifIs event.type 3)}}
          <core-tooltip label='On Standby' position="left">
            <core-image  src="/assets/icons/ic_hearing_black_24px.svg" class="icons"></core-image>
          </core-tooltip>
        {{/if}}
    </div>
  </paper-item>
{{/click-events}}
  <core-collapse id="collapse-event-{{event.id}}">
      <paper-item>
        {{#link-to "event.modify"}}{{event.description}}{{/link-to}}
      </paper-item>
  </core-collapse>
